@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
*{margin:0;padding:0;box-sizing:border-box}
ul>li{list-style:none}
body{margin:0;padding:0;color:#333;font-family:'nanumsquare';font-size:1em;word-break:keep-all;background: url(../images/bg01.jpg) 50% 0 no-repeat;}
body,html{overflow-x:hidden;}
img{max-width:100%;vertical-align:middle}
section>div{clear:both;margin:auto;max-width:100%;margin:auto;overflow:auto}
a{text-decoration:none}

ol, ul, li{list-style:none}
.swiper-container {width:100%;height:640px;max-width:100%;max-height:100%}
/*.swiper-container:nth-last-child(1) {width:640px;height:500px;max-width:100%;max-height:100%}*/
.swiper-slide {text-align:center;display:flex;align-items:center;justify-content:center}



header{margin:0 auto;z-index:1999;width:100%;overflow:auto;position:fixed;background:#121212}
header>div{width:1920px;margin:0 auto;max-width:90%}
header>div>.site-logo{float:left;padding:28px 0}
header>div>.site-logo>a>img{width:187px;height:35px}
nav>ul>li{float:left;padding:0 8px;color:#09226a;font-size:0.9em;font-family:'noto sans kr'}
header nav{float:right;padding:10px 0}
nav>ul>li>a{padding:30px 0}
header nav>ul>li>a{position:relative;display:inline-block;padding:30px 0;font-size:1.1em;font-weight:400;color:#fff;letter-spacing:.05em;text-decoration:none}
header nav>ul>li>a:hover:after, header nav>ul>li>a.active:after{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
header.on nav>ul>li>a{color:#3b86c5}
header.on nav>ul>li>a:after{background:#3b86c5}
header .site-menu-toggle{display:none;position:absolute;color:#000;top:19px;right:20px}
header .site-menu-toggle span{font-size:2em;color:brown}
header.on .site-menu-toggle span{color:#333}
header .site-menu-toggle{display:none;position:absolute;color:#000;top:30px;right:30px}
header .site-menu-toggle i{font-size:3em;color:#333;line-height:1.5em}
header.on .site-menu-toggle i{color:#333}
.site-mobile-menu{overflow-y:auto;width:65%;position:fixed;top:0;right:0;z-index:2000;background:rgba(0,0,0,.8);height:calc(100vh);-webkit-transform:translateX(110%);-ms-transform:translateX(110%);transform:translateX(110%);-webkit-box-shadow:-10px 0 20px -10px rgba(0,0,0,.1);box-shadow:-10px 0 20px -10px rgba(0,0,0,.1);-webkit-transition:.3s all ease-in-out;-o-transition:.3s all ease-in-out;transition:.3s all ease-in-out}
.site-mobile-menu-body .site-nav-wrap>li{display:block;margin:0 30px;padding:10px 0}
.site-mobile-menu-body .site-nav-wrap>li>a{position:relative;font-size:1.4em;color:#fff;min-width:60%}
/*.site-mobile-menu-body .site-nav-wrap >li>a:after{height:2px;background:#00a199;content:"";position:absolute;bottom:-2px;left:0;right:0;-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0);-webkit-transition:.3s all ease;-o-transition:.3s all ease;transition:.3s all ease}*/
/*
.site-mobile-menu-body .site-nav-wrap>li>a:hover, .site-mobile-menu-body .site-nav-wrap>li>a.active{color:#00a199;position:relative}*/
.site-mobile-menu-body .site-nav-wrap>li>a:hover:after, .site-mobile-menu-body .site-nav-wrap>li>a.active:after{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
.site-mobile-menu-close{font-size:2.6em;text-align:right;padding:20px 20px 0 0;color:#fff}
.site-mobile-menu-close>a{color:#fff}
.site-mobile-menu-close .icon-close2:before{font-weight:normal}
.offcanvas-menu .site-wrap{height:100%;width:100%;z-index:2;overflow:hidden}
.offcanvas-menu .site-wrap:before{opacity:1;visibility:visible}
.offcanvas-menu .site-mobile-menu{-webkit-transform:translateX(0%);-ms-transform:translateX(0%);transform:translateX(0%)}
.lang{position:relative;margin:0 20px 0 30px}
.lang_sub{display:none}
.lang_sub{position: absolute;top:60px;left:3px;width:90px;z-index:1000}
.lang_sub>li{float:left;padding:0 5px}
.icon-down-open{font-size:1.2em;padding:0 0 0 15px}
/*main01*/
#main01{background:#121212}
#main01>.text01{width:1600px;margin:0 auto;max-width:100%;padding:100px 0 135px}
.slide1{overflow: hidden;width: 100%;height: 245px;border-radius: 15px}
.slidebox01{position:absolute;bottom: 50px;padding: 10px 20px 20px;width: 720px;background:#1b2838;color: #fff;border-radius: 0 0 15px 15px;max-width:100%;left:0}
.slidebox01>h2{color:#fff;font-size:1.2em;padding:20px 0 20px;text-align:left}
.slidebox01>p{color:#fff;font-size:0.95em;text-align:left;font-family:'NanumSquare';padding:0 0 15px;line-height: 1.5}

.slide2{overflow: hidden;width: 100%;height: 245px;border-radius: 15px;max-width:100%}
.slidebox02{position: absolute;bottom: 50px;padding: 10px 20px 20px;width: 720px;background: #1b2838;color: #fff;border-radius: 0 0 15px 15px;max-width:100%;left:0}
.slidebox02>h2{color:#fff;font-size:1.2em;padding:20px 0 20px;text-align:left}
.slidebox02>p{color:#fff;font-size:0.95em;text-align:left;font-family:'NanumSquare';padding:0 0 15px;line-height: 1.5}

.slide3{overflow: hidden;width: 100%;height: 245px;border-radius: 15px}
.slidebox03{position: absolute;bottom: 50px;padding: 10px 20px 20px;width: 800px;background: #1b2838;color: #fff;border-radius: 0 0 15px 15px;max-width:100%;left:0}
.slidebox03>h2{color:#fff;font-size:1.2em;padding:20px 0 20px;text-align:left}
.slidebox03>p{color:#fff;font-size:0.95em;text-align:left;font-family:'NanumSquare';padding:0 0 15px;line-height: 1.5}
.purchase{width: 169px;color:#fff;border: 1px solid #fff;border-radius: 50px;font-size: 0.9em;background:unset;padding:5px 0;font-family:'nanumsquare';font-weight:800;cursor:pointer;max-width:100%}
.purchase>a{color:#fff;font-family:'notosanskr'}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev{background:unset}
/*
.slide01, .slide02, .slide03 {width:640px;margin:0 auto;background:#1b2838}
.slide01{padding:0 25px 25px;width:700px;margin:0 auto}
.slide01>h2{color:#fff;font-size:1.2em;padding:30px 0 20px;text-align:left}
.slide01>p{color:#fff;font-size:0.95em;text-align:left;font-family:'NanumSquare';padding:0 0 15px;line-height: 1.5}
.slide02{padding:0 25px 25px;width:700px;margin:0 auto}
.slide02>h2{color:#fff;font-size:1.2em;padding:30px 0 20px;text-align:left}
.slide02>p{color:#fff;font-size:0.95em;text-align:left;font-family:'NanumSquare';padding:0 0 15px;line-height:1.5}
.slide03{padding:0 25px 25px;width:700px;margin:0 auto}
.slide03>h2{color:#fff;font-size:1.2em;padding:30px 0 20px;text-align:left}
.slide03>p{color:#fff;font-size:0.95em;text-align:left;font-family:'NanumSquare';padding:0 0 15px;line-height:1.5}
*/

/*main02*/
#main02>.text02{width:1600px;margin:0 auto;max-width:90%;padding:150px 0 45px}
#main02>.text02>h2{font-family:'notosanskr';color:#fff;font-weight:600}
#main02>.text02>.gameip{background:#13161b;overflow:auto;min-height:93%}
#main02>.text02>.gameip>.gamerow{width:1600px;margin:0 auto;max-width:100%}
#main02>.text02>.gameip>.gamerow>ul{width:1400px;margin:0 auto;max-width:100%}
#main02>.text02>.gameip>.gamerow>ul>li>a>.gamereview{background:#1b2838;width:420px;max-width:100%
;margin:0 auto}
#main02>.text02>.gameip>.gamerow>ul>li>a>.gamereview>h2{color:#fff;width:400px;max-width:100%
;padding:20px 10px 5px 15px;font-size:1.05em;font-weight:400;text-align:left}
#main02>.text02>.gameip>.gamerow>ul>li{float:left;padding:15px;width:33.3333333333%;text-align:center}
#main02>.text02>.gameip>.gamerow>ul>li>a>.gamereview>p{font-size:1.15em;padding:10px 0 15px 15px;color:#fff;font-weight:400;text-align:left}
#main02>.text02>.gameip>.gamerow>ul>li>a>.gamereview>p>i{color:#c2c6ca;float:right;padding:20px}
#main02>.text02>.gameip>.gamerow>ul>li>a>.gamereview>p>strong{display: block;padding:10px 0 0}
/*footer*/
footer{position:relative;background:#13161b;padding:90px 0;text-align:center}
footer>div{margin:0 auto;width:1600px;max-width:90%;text-align:left;font-family:'Noto Sans KR', sans-serif;font-size:.82em;font-weight:300}
footer>div>*{display:inline-block;color:#fff}
footer>div>.info>img{width:272px;height:52px}
.info>p>a:visited{color:white;text-decoration:none}
footer>div>.info>p{margin:25px 0;line-height:1.8;color:#fff;font-size:0.95em}
footer>div>ul{float:right}
footer>div>ul:after{content:'';clear:both;display:block;visibility:hidden}
footer>div>ul>li{float:left;margin:0 13px;padding-top:60px}
.logo{text-align:right}
.text{width:1600px;margin:0 auto;max-width:90%;padding:50px 0 0}



@media (max-width:768px){
    body{font-size:.9em}
    header>div>ul>li{padding:0 5px}
    .swiper-container:nth-last-child(1){max-width:90%}
    .text{padding:100px 0 0;max-width:100%}
    #main02>.text02{padding:50px 0}
    #main02>.text02>h2{text-align:center;padding:30px 0;font-size:2em}
    #main02>.text02>.gameip>.gamerow>ul>li{width:50%;padding:10px}
    footer>div>*{width:100%;max-width:100%;text-align:center}
    footer>div>ul{float:none;padding:40px 0 0}
    footer>div>ul>li{display:inline-block;float:none}
    .logo{text-align:center}
    header nav{display:none}
    header .site-menu-toggle{display:block}
    .icon-down-open{display:none}
    .lang>a>img{display:none}
    .lang_sub{display:block;top:0;left:0}
    header>div>.site-logo>a>img{width:187px;height:35px}
    header .site-menu-toggle{top:15px;right:10px}
}
@media (max-width:600px){
    body{font-size:.9em}
    .swiper-container{height:500px}
    .slidebox01>h2{font-size:1em}
    .slidebox01>p{font-size:0.7em}
    .slidebox02>h2{font-size:1em}
    .slidebox02>p{font-size:0.7em}
    .slidebox03>h2{font-size:1em}
    .slidebox03>p{font-size:0.7em}
    .swiper-button-prev{left:91%}

}
@media (max-width:425px){
    body{font-size:.9em}

    #main01>.text01{padding:100px 0 100px}
    .slide01, .slide02, .slide03{padding:0 25px 15px}
    #main02>.text02>.gameip>.gamerow>ul>li>a>.gamereview>h2{font-size:0.7em}
    #main02>.text02>.gameip>.gamerow>ul>li>a>.gamereview>p{font-size:0.8em}

}
@media (max-width:424px){
    body{font-size:.7em}
    .swiper-container{height:450px}
}
@media (max-width:375px){
    body{font-size:.6em}
}
@media (max-width:320px){
    body{font-size:.6em}
}
